@import '../../Styles/variables/breakpoints.scss';

.howWeWork-section{
    padding-top: 128px;
    padding-bottom: 128px;
    background-color: var(--secondary-background-color);
}
.howWeWork-flex{
    text-align: center;
    @media screen and(min-width:$Large) {
        text-align: start;
        display: flex;
    }
}
.howWeWork-info__container{
    margin-left: auto;
    margin-right: auto;
    max-width: 405px;
    @media screen and(min-width:$Large) {
        margin-left: 0;
        margin-right: 142px;
    }
    .link-with-arrow{
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;

        color: var(--primary-link-color);
    }
}
.howWeWork-info__title{
    margin-bottom: 16px;
}
.howWeWork-info__text{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 16px;

    opacity: 0.7;
}
.howWeWork-cards__container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @media screen and(min-width:$Large) {
        flex-direction: row;
        max-width: 656px;
    }
}
