.hero-section{
    padding-top: 126px;
    padding-bottom: 128px;
    background-color: var(--header-and-footer-background-color);
}
.hero-flex{
    display: flex;
}
.hero-box{
    width: 582px;
    margin-right: 60px;
}
.hero-title{
    margin-bottom: 24px;

    color:var(--secondary-text-color)
}
.hero-text{
    display: inline-block;
    width: 562px;
    margin-bottom: 48px;

    color: var(--secondary-text-color);
}
.hero-box__links-box{
    display: flex;
}
.hero-box__button{
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    width: 230px;
    height: 64px;
    margin-right: 40px;

    background: var(--button-primary-background-color);
    border-radius: 41px;
}
.hero-box__button:hover,
.hero-box__button:focus{
    background: var(--button-primary-hover-background-color);
}
.hero-box__link{
    display: flex;
    justify-content: center;
    align-items: center;
}