.hero-section{
    padding-top: 126px;
    padding-bottom: 128px;
    background-color: var(--header-and-footer-background-color);
}
.hero-flex{
    display: flex;
}
.hero-box{
    width: 582px;
    margin-right: 60px;
}
.hero-title{
    margin-bottom: 24px;

    color:var(--secondary-text-color)
}
.hero-text{
    display: inline-block;
    width: 562px;
    margin-bottom: 48px;

    color: var(--secondary-text-color);
}
.hero-box__links-box{
    display: flex;
}
.hero-box__links-box .roundButton-button{
    font-weight: 600;
    font-size: 18px;
    width: 230px;
    padding: 16px 56px;
    margin-right: 40px;
    border: none;

    background-color: var(--button-primary-background-color);
}
.hero-box__links-box .roundButton-button:hover,
.hero-box__links-box .roundButton-button:focus{
    background: var(--button-primary-hover-background-color);
}
.hero-box__links-box .link-with-arrow{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}