body{
    font-family: Poppins;
    word-break: break-word;
}
a{
    text-decoration: none;
    color: var(--secondary-text-color);
}
a:hover, a:focus{
    opacity: 0.8;
    transition: opacity 0.4s;
}
img{
    display: block;
    width: 100%;
    object-fit: contain;
    object-position: center;
}
h1{
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
}
h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}
h3{
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
}
h4{
    font-weight: 500;
    font-size: 36px;
    line-height: 56px;
}
h5{
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}
h6{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}
p{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: var(--primary-text-color);
    opacity: 0.7;
}
button{
    font-family: Manrope;
    cursor: pointer;
    transition: background-color 0.4s;
}
li{
    display: block;
}