.header-section{
    padding-top: 16px;
    padding-bottom: 16px;

    background-color: var(--header-and-footer-background-color);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-navigation-box{
    display: flex;
}
.header-navigation-box__button{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 60px;
    margin-left: 48px;

    border: 2px solid rgba(244, 246, 252, 0.2);
    color: var(--secondary-text-color);
    background-color: inherit;
}