.footer-section{
    padding-top: 100px;
    background-color: var(--header-and-footer-background-color);
}
.footer-flex{
    display: flex;
}
.footer-logo-box{
    margin-right: 141px;
}
.footer-logo-box__box{
    width: 517px;
    margin-bottom: 86px;
}
.footer-logo-box__link{
    width: 156px;
    margin-bottom: 22px;
}
.footer-logo-box__link:hover, 
.footer-logo-box__link:focus{
    opacity: 0.8;
    transition: opacity 0.4s;
}
.footer-logo-box__text{
    display: block;
    width: 399px;

    color: var(--secondary-text-color);
    opacity: 1;
}
.footer-address{
    display: flex;
    padding: 17px 37px;

    background-color: var(--button-primary-background-color);
}
.footer-address__item-box:not(:last-child){
    margin-right: 29px;
}
.footer-address__text{
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 1px;

    opacity: 1;
}
.footer-address__link{
    font-size: 16px;
    line-height: 28px;

    color: var(--primary-text-color);
    opacity: 0.8;
}
.footer-contacts__box{
    width: 400px;
}
.footer-contacts__title{
    margin-bottom: 14px;

    color: var(--secondary-text-color);
}
.footer-contacts__text{
    margin-bottom: 28px;

    color: var(--secondary-text-color);
    opacity: 0.8;
}