.ourBlog-section{
    margin-bottom: 128px;

    background-color: var(--primary-background-color);
}
.ourBlog-title{
    margin-bottom: 64px;
}
.ourBlog-flex{
    display: flex;
}
.ourBlog-flex li{
    width: calc((100%-60px)/3);
}